*{
    margin:0;
    padding: 0; 
    box-sizing: border-box
}
body{
    background: hsla(236, 93%, 41%, 0.623);
}
.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    width: 90%;
 }

nav { 
   display:flex;
   justify-content: space-between;

}
img {
    width: 100%;
    height: auto;  
  }

  a {
    text-decoration: none;
  }
  body{
    font: 400 1rem 'Dm Sans', 'sans-serif';

  }
  h1 {
    font: 700 1rem 'Poppins', 'sans-serif';
  }